.addUserContainer {
  padding: 40px;
  background-color: rgba(17, 25, 40, 0.712);
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: max-content;
  height: max-content;
  margin: auto;
  z-index: 1000;
  .mainAddContainer {
    padding: 3px;
    overflow-x: auto;
    max-height: 288px;
  }
  .mainAddContainer::-webkit-scrollbar {
    width: 3px;
  }
  .mainAddContainer::-webkit-scrollbar-thumb {
    background-color: #d9d9d96b;
    border-radius: 10px;
  }
  form {
    display: flex;
    gap: 20px;
    .searchContainer {
      flex: 1;
      background-color: rgb(17, 25, 40, 0.5);
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 10px;
      border-radius: 10px;
    }
    input {
      padding: 7px 0;
      border-radius: 10px;
      border: none;
      outline: none;
      background-color: transparent;
      color: white;
    }
    /* button {
      width: 100%;
      min-width: 100px;
      max-width: 90px;
    } */
  }
  .usersContainer {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    margin-top: 20px;
    .details {
      display: flex;
    }
    .details {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }
    button {
      width: 100%;
      min-width: 90px;
      max-width: 90px;
      .loader {
        margin: auto;
      }
    }
    #selfBtn {
      cursor: not-allowed;
    }
  }
}
