.bgimage {
  background-image: url("../../../public/chat.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  gap: 1.2rem;
  margin: 0 auto;
  height: 100%;
}
